<app-header></app-header>
<div class="container animated slideInRight">
    <div>
        <h1>Android Application Developer</h1>
    </div>
    <div style="font-size: 30px">
        <p>
            Android Application Development with almost 2 years of experience. Projects carried out in past:
        <ul>
            <li>
                <a href="https://play.google.com/store/apps/details?id=com.tbsplanet.augmentedreality.VideoPlayback&hl=en"
                   target="_blank"> TBS Planet Augmented Reality Based Application </a></li>
            <li>Contacts Application for Employees within using OAuth2.0</li>
            <li>Inventory Management System</li>
        </ul>
        </p>
    </div>
</div>