<div>
    <br>
    <a href="#/home" style="text-decoration: none;color: white">
        <span style="text-align: left;font-size: 20px">
                 &nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;
                 &nbsp;&nbsp;&nbsp;
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    <i class="glyphicon glyphicon-chevron-left"></i>
        </span>
    </a>
</div>