<app-header></app-header>
<div class="animated slideInDown hidden-sm hidden-xs">
    <header>
        <div>
            <div>
                <h1 style="font-size: 100px">Hanshika Gupta</h1>
                <br><br>
                <h2>
                    <a href="http://hanshika0292.github.io/old-v" target="_blank" ng-click="countSamplesVisit();">
                        CheckOut Samples Hosted on Github
                    </a>
                </h2>
                <br><br>
                <h2>
                    <a href="https://hanshika0292.github.io/sampleResumeApplication/" target="_blank" ng-click="countResumeVisit();">
                        Checkout My Resume
                    </a>
                </h2>
                <h2>
                    <a href="#/bootstrap" target="_blank" ng-click="countResumeVisit();">
                        Bootstrap Sample
                    </a>
                </h2>
                <br><br>
                <a style="font-size: 40px" href="https://github.com/hanshika0292" rel="external" target="_blank" ng-click="countGithubVisit();">
                Github
                </a>
                <a style="font-size: 40px" href="http://stackoverflow.com/users/6359609/hanshika-gupta" rel="external" target="_blank" ng-click="countStackOverflowVisit();">
                StackOverflow
                </a>
                <a style="font-size: 40px" href="http://codepen.io/hanshika0292/" rel="external" target="_blank" ng-click="countCodepenVisit();">
                Codepen
                </a>
                <a style="font-size: 40px" href="https://in.linkedin.com/in/hanshika-gupta-b653b347" rel="external" target="_blank" ng-click="countLinkedInVisit();">
                LinkedIn
                </a>
            </div>
            <br><br><br>
        </div>
    </header>

</div>
<div class="animated slideInDown visible-sm-block visible-xs-block">
    <header>
        <center>
        <div>
            <div>
                <hr>
                <h1 style="font-size: 28px">Hanshika Gupta</h1>
                <hr>
                <br><br>
                <h4>
                    <a href="http://hanshika0292.github.io/old-v" target="_blank" ng-click="countSamplesVisit();" style="color: white">
                        CheckOut Samples Hosted on Github
                    </a>
                </h4>
                <hr>
                <br>
                <h4>
                    <a href="https://hanshika0292.github.io/sampleResumeApplication/" target="_blank" ng-click="countResumeVisit();" style="color: white">
                        Checkout My Resume
                    </a>
                </h4>
                <hr><br>
                <a style="font-size: 15px;color: white;" href="https://github.com/hanshika0292" rel="external" target="_blank" ng-click="countGithubVisit();">
                Github
                </a>
                <a style="font-size: 15px;color: white;" href="http://stackoverflow.com/users/6359609/hanshika-gupta" rel="external" target="_blank" ng-click="countStackOverflowVisit();">
                StackOverflow
                </a>
                <a style="font-size: 15px;color: white;" href="http://codepen.io/hanshika0292/" rel="external" target="_blank" ng-click="countCodepenVisit();">
                Codepen
                </a>
                <a style="font-size: 15px;color: white;" href="https://in.linkedin.com/in/hanshika-gupta-b653b347" rel="external" target="_blank" ng-click="countLinkedInVisit();">
                LinkedIn
                </a>
                <hr>
            </div>
            <br><br><br>
        </div>
        </center>
    </header>

</div>