<app-header></app-header>
<div class="container animated slideInLeft">
    <div>
        <h1>Full Stack Web Application Developer</h1>
    </div>
    <div style="font-size: 20px">
        <p>
            Full Stack Software Developer with almost 2 years experience in:
        <ul>
            <li>BackEnd: Java</li>
            <li>FrontEnd: HTML5, CSS3, AngularJS, Kendo, Jquery, Bootstrap</li>
            <li>Databases: MySQL, Cassandra(NoSQL)</li>
            <li>Frameworks: Spring-MVC, Spring-Data-Cassandra, Spring-Boot</li>
        </ul>
            <h1> Projects carried out in past:</h1>
        <ul>
            <li>
                <a href="http://www.tbsplanet.com/#/home" target="_blank"> TBS Planet Web Application </a>
            </li>
            <li>
                <a href="https://www.fanhoots.com" target="_blank"> Fanhoots Web Application </a>
            </li>
        </ul>
        </p>
    </div>
</div>