<app-header></app-header>
<div class="container animated slideInLeft hidden-sm hidden-xs">
    <div>
        <h1>Full Stack Web Application Developer</h1>
    </div>
    <div style="font-size: 20px">
        <p>
            Full Stack Software Developer with almost 2 years experience in:
        <ul>
            <li>BackEnd: Java</li>
            <li>FrontEnd: HTML5, CSS3, AngularJS, Kendo, Jquery, Bootstrap</li>
            <li>Databases: MySQL, Cassandra(NoSQL)</li>
            <li>Frameworks: Spring-MVC, Spring-Data-Cassandra, Spring-Boot</li>
        </ul>
            <h1> Projects carried out in past:</h1>
        <ul>
            <li>
                <a href="http://www.tbsplanet.com/#/home" target="_blank" ng-click="countTBSWebVisit();" style="color: white;text-decoration: underline">
                    TBS Planet Web Application
                </a>
            </li>
            <li>
                <a href="https://www.fanhoots.com" target="_blank" ng-click="countFanhootWebVisit();" style="color: white;text-decoration: underline">
                    Fanhoots Web Application
                </a>
            </li>
        </ul>
        </p>
    </div>
</div>
<div class="container animated slideInLeft visible-sm-block visible-xs-block">
    <div style="margin-top: -30px">
        <hr>
        <h3>Full Stack Web Application Developer</h3>
        <hr>
    </div>
    <div style="font-size: 14px">
        <p>
        <h3> Projects carried out in past:</h3>
        <hr>
        <ul>
            <li>
                <a href="http://www.tbsplanet.com/#/home" target="_blank" ng-click="countTBSWebVisit();" style="color: white;text-decoration: underline">
                    TBS Planet Web Application
                </a>
            </li>
            <li>
                <a href="https://www.fanhoots.com" target="_blank" ng-click="countFanhootWebVisit();" style="color: white;text-decoration: underline">
                    Fanhoots Web Application
                </a>
            </li>
        </ul>
        <hr>
        <h3>Full Stack Software Developer with almost 2 years experience in:</h3>
        <hr>
        <ul>
            <li>BackEnd: Java</li>
            <li>FrontEnd: HTML5, CSS3, AngularJS, Kendo, Jquery, Bootstrap</li>
            <li>Databases: MySQL, Cassandra(NoSQL)</li>
            <li>Frameworks: Spring-MVC, Spring-Data-Cassandra, Spring-Boot</li>
        </ul>
        <hr>
        </p>
    </div>
</div>