<app-header></app-header>
<div class="container animated slideInRight hidden-sm hidden-xs">
    <div>
        <h1>Android Application Developer</h1>
    </div>
    <div style="font-size: 30px">
        <p>
            Android Application Development with almost 2 years of experience. Projects carried out in past:
        <ul>
            <li>
                <a href="https://play.google.com/store/apps/details?id=com.tbsplanet.augmentedreality.VideoPlayback&hl=en"
                   target="_blank" ng-click="countAndroidAppVisit();" style="color: white;text-decoration: underline;font-size: 25px">
                    TBS Planet Augmented Reality Based Application
                </a>
            </li>
            <li>
                <a href="https://loyalty.strawberrypos.com/" target="_blank" style="color: white;text-decoration: underline;font-size: 25px">
                    Features & Minor Changes in GOStrawberry & Strawberry POS Manager Android App (NikolaTech)
                </a>
            </li>
            <li>
                <a href="http://ojamapp.com/" target="_blank" style="color: white;text-decoration: underline;font-size: 25px">
                    OJam Android App - Beta Version (Frontend)
                </a>
            </li>
            <li>Contacts Application for Employees within using OAuth2.0</li>
            <li>Inventory Management System</li>
        </ul>
        </p>
    </div>
</div>
<div class="container animated slideInRight visible-sm-block visible-xs-block">
    <div style="margin-top: -30px">
        <hr>
        <h3>Android Application Developer</h3>
        <hr>
    </div>
    <div style="font-size: 15px">
        <p>
            Android Application Development with almost 2 years of experience. Projects carried out in past:
        <ul>
            <li>
                <a href="https://play.google.com/store/apps/details?id=com.tbsplanet.augmentedreality.VideoPlayback&hl=en"
                   target="_blank" ng-click="countAndroidAppVisit();" style="color: white;text-decoration: underline;font-size: 18px">
                    TBS Planet Augmented Reality Based Application
                </a>
            </li>
            <li>
                <a href="https://loyalty.strawberrypos.com/" target="_blank" style="color: white;text-decoration: underline;font-size: 18px">
                    Features & Minor Changes in GOStrawberry & Strawberry POS Manager Android App (NikolaTech)
                </a>
            </li>
            <li>
                <a href="http://ojamapp.com/" target="_blank" style="color: white;text-decoration: underline;font-size: 18px">
                    OJam Android App - Beta Version (Frontend)
                </a>
            </li>
            <li>Contacts Application for Employees within using OAuth2.0</li>
            <li>Inventory Management System</li>
        </ul>
        <hr>
        </p>
    </div>
</div>